name: Java CI

on: [ push ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ ubuntu-latest , windows-latest , macos-latest ]
        java: [ 17 ]
        experimental: [ false ]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5.0.1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-gradle-m2-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/cache@v5.0.1
        with:
          path: ~/.gradle/caches/
          key: ${{ runner.os }}-gradle-caches-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - uses: actions/cache@v5.0.1
        with:
          path: ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt
      - name: Build plugin
        run: |
          git submodule init
          git submodule update
          cd ./shade_asm
          chmod 777 ./mvnw
          ./mvnw install
          cd ..
          chmod 777 ./gradlew
          ./gradlew clean buildPlugin
